* {
  margin: 0;
  padding: 0;
}

body > section:first-child {
  background: gray;
  padding: 1em;
  height: 2em;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body > section:first-child > p:first-child {
  font-size: 2em;
  font-weight: bold;
}

body > section:first-child > p:last-child {
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 5px 0;

  background-color: #fff;

  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span.completed {
  text-decoration: line-through;
  color: gray;
}

li form {
  display: inline;

  margin: 0;
}

li button {
  background-color: #90D5FF;
  padding: 1em;
  border-radius: 20%;
  border: none;
}

li button:hover {
  background-color: #4FC3F7;
}
